1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system'

with open('test.txt', 'w') as file:
    file.write(test1)

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [2]:
with open('test.txt', 'r') as file:
    test2 = file.read()

In [4]:
test1

'This is a test of the emergency text system'

In [5]:
test2

'This is a test of the emergency text system'

No. There is no  difference between test 1 and test 2

3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [7]:
import csv

data = [
    ['title', 'author', 'year'],
    ['The Weirdstone of Brisingamen', 'Alan Garner', '1960'],
    ['Perdido Street Station', 'China Miéville', '2000'],
    ['Thud!', 'Terry Pratchett', '2005'],
    ['The Spellman Files', 'Lisa Lutz', '2007'],
    ['Small Gods', 'Terry Pratchett', '1992']
]

with open('books.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(data)

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [8]:
import sqlite3

# Connect to the SQLite database (creates a new database if it doesn't exist)
conn = sqlite3.connect('books.db')

# Create a cursor object to interact with the database
cursor = conn.cursor()

# Create the 'books' table
cursor.execute('''CREATE TABLE books (
                    title TEXT,
                    author TEXT,
                    year INTEGER
                )''')

5. Read books.csv and insert its data into the book table.

In [ ]:
import csv
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

# Read the data from the CSV file and insert into the books table
with open('books.csv', 'r') as file:
    reader = csv.reader(file)
    next(reader)  # Skip the header row

    for row in reader:
        cursor.execute("INSERT INTO books (title, author, year) VALUES (?, ?, ?)", row)

6. Select and print the title column from the book table in alphabetical order.

In [ ]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

# Select the 'title' column from the 'books' table in alphabetical order
cursor.execute("SELECT title FROM books ORDER BY title ASC")
titles = cursor.fetchall()

# Print the titles
for title in titles:
    print(title[0])

7. From the book table, select and print all columns in the order of publication.

In [ ]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

# Select all columns from the 'books' table in the order of publication
cursor.execute("SELECT * FROM books ORDER BY year ASC")
rows = cursor.fetchall()

# Print the column headers
headers = [description[0] for description in cursor.description]
print("\t".join(headers))

# Prit the rows
for row in rows:
    print("\t".join(str(value) for value in row))

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [ ]:
import sqlalchemy

# Create the database URL for SQLite
db_url = 'sqlite:///books.db'

# Create the SQLAlchemy engine
engine = sqlalchemy.create_engine(db_url)

# Connect to the SQLite database
conn = engine.connect()

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [ ]:
import redis

# Connect to the Redis server
r = redis.Redis()

# Create the 'test' hash with fields 'count' and 'name'
r.hset('test', 'count', 1)
r.hset('test', 'name', 'Fester Bestertester')

# Print all fields for 'test'
fields = r.hgetall('test')
for field, value in fields.items():
    print(f"{field.decode()}: {value.decode()}")

10. Increment the count field of test and print it.

In [ ]:
import redis

# Connect to the Redis server
r = redis.Redis()

# Increment the 'count' field of 'test'
r.hincrby('test', 'count', 1)

# Get and print the updated value of 'count'
count = r.hget('test', 'count')
print(f"Updated count: {count.decode()}")